<div id="sidebar" class="col-md-1 col-lg-2 bg-white border-end vh-100 position-fixed d-none d-md-block"
    style="position: relative;">
    <div class="pt-3">
        <ul class="nav flex-column">
            <li class="nav-item mb-3 px-3">
                <a href="/dashboard.html" class="btn btn-primary w-100">Dashboard</a>
            </li>
            <li class="nav-item mb-3 px-3">
                <a href="createevent.html" class="btn btn-secondary w-100">Create</a>
            </li>
            <li class="nav-item mb-3 px-3">
                <a href="events.html" class="btn btn-secondary w-100">Events</a>
            </li>
        </ul>
    </div>
    <div class="px-3" style="position: absolute; bottom: 20px; width: calc(100% - 1.5rem);">
        <a href="settings.html" class="btn btn-secondary btn-outline-secondary w-100">Settings</a>
    </div>
</div>
